body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

#animation p, #animation div {
    color: white;
    font-size: 2em;
    margin: 0;
    padding: 0;
    transition: opacity 2s, visibility 0s 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; visibility: hidden; }
    100% { opacity: 1; visibility: visible; }
}

#hi {
    animation: fadeIn 2s ease-in-out 0s forwards;
}

#just-wanted {
    animation: fadeIn 2s ease-in-out 2s forwards;
}

#funny-love {
    animation: fadeIn 2s ease-in-out 4s forwards;
}

#happy {
    animation: fadeIn 2s ease-in-out 6s forwards;
}

#valentine {
    animation: fadeIn 2s ease-in-out 8s forwards;
}

#kind {
    animation: fadeIn 2s ease-in-out 10s forwards;
}

#love {
    animation: fadeIn 2s ease-in-out 12s forwards;
}

#bunny-love {
    font-size: 3em;
    animation: fadeIn 2s ease-in-out 14s forwards;
}

#sign-off {
    animation: fadeIn 2s ease-in-out 16s forwards;
}

/* Styles pour les cœurs avec l'animation de battement */
@keyframes heartBeat {
    0%, 100% { transform: scale(1); }
    25%, 75% { transform: scale(1.1); }
}

.heart {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 2px;
    transform: rotate(-45deg);
    animation: heartBeat 1s infinite;
    position: relative;
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    top: 0;
    left: 15px;
}
