body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden {
    display: none;
}

#content {
    color: white;
}

@keyframes heartBeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#hearts {
    font-size: 0;
}

.heart {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 2px;
    transform: rotate(-45deg);
    animation: heartBeat 1s infinite;
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    top: 0;
    left: 15px;
}
