body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* Styles pour les messages qui apparaissent et disparaissent */
.message {
    color: black;
    font-size: 3em;
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 3s ease, transform 3s ease;
    transform: translateY(-20px);
    visibility: hidden;
}

/* Styles pour les cœurs qui apparaîtront dans l'animation */
.heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 2px;
    transform: rotate(-45deg);
    transform-origin: center;
    opacity: 0; /* Les cœurs sont initialement invisibles */
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
}

.heart:before {
    top: -25px;
    left: 0;
}

.heart:after {
    top: 0;
    left: 25px;
}

/* Animation pour les cœurs */
@keyframes beat {
    0%, 100% { transform: scale(1) rotate(-45deg); }
    50% { transform: scale(1.1) rotate(-45deg); }
}

/* La classe 'animate-heart' sera ajoutée par JavaScript pour déclencher l'animation */
.animate-heart {
    animation: beat 1s ease infinite;
}

/* Animation pour faire apparaître les cœurs */
@keyframes enterHeart {
    0% {
        transform: scale(0) rotate(-45deg);
        opacity: 0;
    }
    50% {
        transform: scale(0.5) rotate(-45deg);
        opacity: 0.5;
    }
    100% {
        transform: scale(1) rotate(-45deg);
        opacity: 1;
    }
}

/* La classe 'enter' sera ajoutée pour faire apparaître les cœurs */
.enter {
    animation: enterHeart 2s ease forwards;
}

/* Animation pour faire disparaître les cœurs */
@keyframes leaveHeart {
    0% {
        transform: scale(1) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: scale(0) rotate(-45deg);
        opacity: 0;
    }
}

/* La classe 'leave' sera ajoutée pour faire disparaître les cœurs */
.leave {
    animation: leaveHeart 2s ease forwards;
}
